:root {
  --primary-color: #FFB520;
  --secondary-color: #424CD4;
  --outline: #B8B8D1;
  --danger: #E94138;
  --text: #323244;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text);
}

.hidden {
  display: none;
}

#auth-body {
  background-color: var(--secondary-color);
}

#background-canv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.card {
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
}

.header {
  display: block;
  background-color: white;
  height: 64px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.modal-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.4s;
  z-index: 10;
}

.modal {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.4s, transform 0.4s;
  margin: 70px;
}

.modal-bg.modal-hidden {
  opacity: 0;
}

.modal.modal-hidden {
  opacity: 0;
  transform: translateY(20px);
}

.modal-guide {
  width: calc(100% - 140px);
  max-width: 800px;
  height: 500px;
  margin-top: calc(50vh - 250px);
  margin-left: auto;
  margin-right: auto;
}

.modal-guide iframe {
  width: 100%;
  height: 100%;
}

.modal-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 48px;
  opacity: 0.5;
  transition: opacity 0.4s;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 1;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.header .entries {
  display: flex;
  flex-direction: row;
}

.header .entries a {
  margin: 15px;
  cursor: pointer;
  transition: color 0.4s;
}

.header .entries a:hover {
  color: var(--primary-color);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  margin-left: 15px;
  width: 35px;
}

.logo h1 {
  font-size: 25px;
}

.article>* {
  margin-top: 15px;
}

.article>h1,
article>h2,
article>h3 {
  text-align: center;
}

.article>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-box {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50vh - 160px);
}

.login-box * {
  margin: 10px;
}

.login-box br {
  margin: 0px;
}

.error-box {
  border-style: solid;
  border-radius: 25px;
  border-width: 1px;
  padding: 5px;
  border-color: var(--danger);
  color: var(--danger);
}

input {
  border-radius: 25px;
  padding: 8px;
  border-color: var(--outline);
  border-width: 1px;
  border-style: solid;
  outline: none !important;
  transition: border-color 0.4s;
}

input:focus,
input:focus-visible {
  border-color: var(--primary-color);
}

.game-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.game-card img {
  width: 128px;
}

.game-card .line-1 {
  display: flex;
  flex-direction: row;
}

.game-card .description {
  padding: 10px;
}

.game-card .description * {
  margin-top: 5px;
}

.game-card button {
  margin: 10px;
  margin-bottom: 0px;
}

.game-box {
  text-align: center;
  margin-top: calc(50vh - 150px - 64px - 35px);
}

.game-box * {
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
  transition: opacity 0.4s, transform 0.4s;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.secondary-button {
  background-color: transparent;
  border-style: solid;
  border-color: var(--primary-color);
  border-width: 1px;
  color: var(--primary-color);
  font-weight: normal;
}

.danger-button {
  background-color: var(--danger);
}

.game-canvas {
  margin-bottom: 10px;
}

#status {
  height: 25px;
  margin-bottom: 10px;
}

.players {
  width: 300px;
  height: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.players div {
  display: inline;
  margin: 0px;
  color: var(--outline);
}

.game-box .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
}

.modal-exit {
  width: 300px;
  height: 100px;
  margin-top: calc(50vh - 50px);
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.modal-exit p {
  text-align: center;
  margin-bottom: 10px;
}

.modal-exit button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.splash {
  position: absolute;
  text-align: center;
  top: calc(50vh - 15px);
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}
