:root {
  --primary-color: #007bff;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.login-box {
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50vh - 100px);
}

.login-box * {
  margin: 10px;
}

.login-box br {
  margin: 0px;
}

input {
  border-radius: 5px;
  padding: 8px;
  border-color: var(--primary-color);
  border-width: 1px;
  border-style: solid;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-style: normal !important;
  padding: 15px 25px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}
