:root {
  --primary-color: #FFB520;
  --secondary-color: #424CD4;
  --outline: #B8B8D1;
  --danger: #E94138;
  --text: #323244;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text);
}

#auth-body {
  background-color: var(--secondary-color);
}

#background-canv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.card {
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
}

.login-box {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50vh - 160px);
}

.login-box * {
  margin: 10px;
}

.login-box br {
  margin: 0px;
}

.error-box {
  border-style: solid;
  border-radius: 25px;
  border-width: 1px;
  padding: 5px;
  border-color: var(--danger);
  color: var(--danger);
}

input {
  border-radius: 25px;
  padding: 8px;
  border-color: var(--outline);
  border-width: 1px;
  border-style: solid;
  outline: none !important;
  transition: border-color 0.4s;
}

input:focus,
input:focus-visible {
  border-color: var(--primary-color);
}

.game-selector {
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50vh - 100px);
}

.game-selector * {
  display: block;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
}

.game-box {
  text-align: center;
  margin-top: calc(50vh - 150px);
}

.game-box * {
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-style: normal !important;
  padding: 15px 25px;
  border-radius: 25px;
  transition: opacity 0.4s, transform 0.4s;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
